<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Hey ! Bienvenue sur THP Secret !</h1>

    <h2>
      Connais-tu le secret de l'Univers ?
    </h2>
    <%= link_to('Viens chercher la réponse', secret_path, class: "btn btn-lg btn-primary") %>
  </div>
</div>
