<div class="center jumbotron">
  <h1>Hey ! Bienvenu sur THP Secret !</h1>

  <h2>
    Connais-tu le secret de l'Univers ?
  </h2>

  <%= link_to "Viens chercher la réponse", '#', class: "btn btn-lg btn-primary" %>
</div>
