<div class="row">
  <div class="col-md-6 mx-auto">

      <% if logged_in? %>

        <h3> class="text-center">Ceci est la réponse au secret de l'univers !</h3>

       <% else %>

      <p class="text-center">On se connait ?? Connecte toi d'abord !</p>
      <%= link_to('Se connecter', new_session_path, :class => "btn btn-secondary btn-lg btn-block") %>

      <%end%>


  <div>
</div>
